.contenedor_conversor{
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.bloque_der{
  width: 360px;
  height: 389px;
  margin-top: 30px;
}
.bloque_der img{
  width: 100%;
}
.separador_section img{
  width: 109%;
  height: 10px;
}
.separador_section{
  display: flex;
  justify-content: center;
}

.layout{
  padding: 0px 20px 0 20px;
  margin: 0 auto;
}
.contenedor_privacidad p{
  margin: 0;
  text-align: justify;
}
.scroll-to-top{
  bottom: 80px!important;
  right: 10px!important;
  color: #003071;
}
.mapboxgl-ctrl-group button{
  width: 29px;
  height: 29px;
}
@media (min-width: 375px) {
  .scroll-to-top {
      bottom: 80px!important;
      right: 10px!important;
    }
  .bloque_der {
    width: 334px;
  }
}
@media (min-width: 1191px) {
.contenedor_conversor {
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }

  .bloque_der {
    width: 570px;
    height: 580px;
    margin: 0;
  }

  .bloque_der img {
    width: 100%;
  }

  .separador_section img {
    width: 1060px;
  }

  .separador_section {
    display: flex;
    justify-content: center;
     margin-top: 27px;
  } 
  .layout {
    max-width: 1060px;
    margin: 0 auto;
  }
  .scroll-to-top {
    bottom: 40px !important;
    right: 40px !important;
  }
}